.button {
    // box model
    display: inline-block;
    border: none;
    padding: 0 40px;

    // typography
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;

    // visual
    background-color: $mainColor;
    border-radius: 2px;
    box-shadow: 0 3px 4.7px .3px rgba(0, 0, 0, .24);
}
