.contact-info {
    // box model
    // border: 1px solid red;
    display: none;
    @media (min-width: $tablet) {
        display: block;
    }
    @media (min-width: $desktop) {
        display: inline-block;
        padding-left: 25px;
    }

    // typography
    font-size: 0;
    @media (min-width: $desktop) {
        text-align: right;
    }

    &--footer {
        display: block;
        @media (min-width: $desktop) {
            display: inline-block;
        }
    }
}

.contact {
    // positioning
    position: relative;
    // border: 1px solid red;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    @media (min-width: $tablet) {
        // padding-top: 10px;
        padding-right: 30px;
    }
    @media (min-width: $desktop) {
        padding-top: 5px;
        text-align: left;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: 20px;
        left: 0;
        @media (min-width: $desktop) {
            top: 5px;
        }

        // box model
        display: block;
        height: 24px;
        width: 24px;

        // typography
        color: $mainColor;
        font-family: "icomoon";
        font-size: 24px;
    }

    &--address {
        // box model
        width: 100%;
        @media (min-width: $tablet) {
            width: auto;
        }

        &::before {
            content: $icon-place;
        }
    }

    &--schedule {
        // box model
        width: 49.9%;
        @media (min-width: $tablet) {
            width: auto;
        }

        &::before {
            content: $icon-schedule;
        }
    }

    &--phone {
        // box model
        width: 49.9%;
        @media (min-width: $tablet) {
            width: auto;
        }

        .contact__main {
            // typography
            font-size: 24px;
            line-height: 20px;
        }

        &::before {
            content: $icon-call;
        }
    }

    &__main {
        // typography
        color: $grey87;
        font-size: 15px;
        font-weight: 400;
    }

    &__additional {
        // typography
        color: $grey87;
        font-size: 12px;
        font-weight: 400;
    }

    &--footer {
        &::before {
            // typography
            color: #ffffff;
        }

        & .contact__main {
            // typography
            color: #ffffff;
        }

        & .contact__additional {
            // typography
            color: #ffffff;
        }
    }
}

.social-contacts {
    // box model
    // display: none;
    @media (min-width: $tablet) {
        display: inline-block;
        // border: 1px solid red;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    @media (min-width: $desktop) {
        padding-top: 5px;
    }
}

.social-contact {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    width: 49%;
    @media (min-width: $tablet) {
        display: block;
        padding-top: 10px;
    }
    @media (min-width: $desktop) {
        padding-right: 0;
    }

    // typography
    color: $grey87;
    font-size: 15px;
    font-weight: 400;

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: 20px;
        left: 2px;
        @media (min-width: $tablet) {
            top: 10px;
        }

        // box model
        display: block;
        height: 24px;
        width: 24px;

        // typography
        color: $mainColor;
        font-family: "icomoon";
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &--vk {
        // box model
        @media (min-width: $desktop) {
            padding-top: 0;
        }

        &::before {
            content: $icon-vk;
            @media (min-width: $desktop) {
                top: 0;
            }
        }
    }

    &--instagram {
        &::before {
            content: $icon-instagram;
        }
    }

    &--footer {
        color: #ffffff;

        &::before {
            // typography
            color: #ffffff;
        }
    }
}
