.contact-info {
    //
    // border: 1px solid red;
}

.contact {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: 20px;
        left: 0;

        // box model
        display: block;
        height: 24px;
        width: 24px;

        // typography
        color: $mainColor;
        font-family: "icomoon";
        font-size: 24px;
    }

    &--address {
        // box model
        width: 100%;

        &::before {
            content: $icon-place;
        }
    }

    &--schedule {
        // box model
        width: 49%;

        &::before {
            content: $icon-schedule;
        }
    }

    &--phone {
        // box model
        width: 49%;

        .contact__main {
            // typography
            font-size: 24px;
            line-height: 20px;
        }

        &::before {
            content: $icon-call;
        }
    }

    &__main {
        // typography
        color: $grey87;
        font-size: 15px;
        font-weight: 400;
    }

    &__additional {
        // typography
        color: $grey87;
        font-size: 12px;
        font-weight: 400;
    }

    &--footer {
        &::before {
            // typography
            color: #ffffff;
        }

        & .contact__main {
            // typography
            color: #ffffff;
        }

        & .contact__additional {
            // typography
            color: #ffffff;
        }
    }
}

.social-contacts {
    //
}

.social-contact {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    width: 49%;

    // typography
    color: $grey87;
    font-size: 15px;
    font-weight: 400;

    &::before {
        content: "";

        // positioning
        position: absolute;

        // box model
        display: block;
        height: 24px;
        width: 24px;

        // typography
        color: $mainColor;
        font-family: "icomoon";
        font-size: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &--vk {
        &::before {
            content: $icon-vk;

            // positioning
            top: 20px;
            left: 2px;
        }
    }

    &--instagram {
        &::before {
            content: $icon-instagram;

            // positioning
            top: 20px;
            left: 2px;
        }
    }

    &--footer {
        color: #ffffff;

        &::before {
            // typography
            color: #ffffff;
        }
    }
}
