.hero {
    // box model
    // height: 340px;
}

.hero-ads {
    // typography
    font-size: 0;

    // .container {
    // box model
    @media (min-width: $tablet) {
        display: flex;
        // border: 1px solid red;
        justify-content: space-between;
    }
    // }

    // typography
    @media (min-width: $tablet) {
        text-align: center;
    }
}
