@mixin itemShadow {
    box-shadow: 0 1px 7px .14px rgba(0,0,0,.12),
    0 3px 4.7px .3px rgba(0, 0, 0, .24);
    transition-property: box-shadow;
    transition-duration: .17s;
}

@mixin justButton {
    // box model
    display: inline-block;
    border: none;
    padding: 0 40px;

    // typography
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;

    // visual
    background-color: $mainColor;
    border-radius: 2px;
    box-shadow: 0 3px 4.7px .3px rgba(0, 0, 0, .24);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: .17s;

    &:hover {
        color: $mainColor;
        // border: 2px solid $mainColor;
        // background-color: #7cb342;
        background-color: #ffffff;
        box-shadow: 0 5px 18.8px 1.2px rgba(0, 0, 0, .24);
    }
}
