.news-item {
    // positioning
    position: relative;

    // box model
    margin-top: 5px;
    margin-bottom: 20px;
    @media (min-width: $tablet) {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin: 0 10px;
    }

    // typography
    text-align: left;

    // visual
    background-color: $whiteBack;
    @include itemShadow;

    &:nth-of-type(n + 3) {
        @media (min-width: $tablet) {
            display: none;
        }
        @media (min-width: $desktop) {
            display: inline-block;
        }
    }

    &__caption {
        // box model
        padding-left: 20px;

        // typography
        color: $grey87;
        font-size: 20px;
        font-weight: 400;
        line-height: 80px;
    }

    &__image-container {
        // box model
        width: 100%;
    }

    &__image {
        // box model
        width: 100%;
    }

    &__text {
        // box model
        padding: 30px 20px;
        @media (min-width: $tablet) {
            height: 300px;
        }

        // typography
        color: $grey54;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__more {
        // positioning
        position: absolute;
        bottom: 10px;
        right: 20px;

        // box model
        padding: 5px 10px;

        // typography
        color: $mainColor;
        line-height: 14px;
        text-decoration: none;

        &:hover {
            // typography
            color: #ffffff;
            
            // visual
            background-color: $mainColor;
            border-radius: 2px;
        }
    }
}
