.news-item {
    // box model
    margin-top: 5px;
    margin-bottom: 20px;
    @media (min-width: $desktop) {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin: 0 10px;
    }

    // typography
    text-align: left;

    // visual
    background-color: $whiteBack;
    @include itemShadow;

    &__caption {
        // box model
        padding-left: 20px;

        // typography
        color: $grey87;
        font-size: 20px;
        font-weight: 400;
        line-height: 80px;
    }

    &__image-container {
        // box model
        width: 100%;
    }

    &__image {
        // box model
        width: 100%;
    }

    &__text {
        // box model
        padding: 30px 20px;
        @media (min-width: $desktop) {
            height: 300px;
        }

        // typography
        color: $grey54;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}
