.search {
    &__form {
        // box model
        margin-top: 10px;
        // border: 1px solid red;
        @media (min-width: $tablet) {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            padding-left: 20px;
            width: 295px;
        }
        @media (min-width: $desktop) {
            width: 400px;
            float: right;
            margin-top: 10px;
        }

        // visual
        // background-color: $mainColor;
    }

    &__input {
        // box model
        display: block;
        height: 40px;
        width: 100%;
        border: none;
        border: 1px solid #cccccc;
        padding: 0 20px;
        // @media (min-width: $tablet) {
        //     display: inline-block;
        //     width: 180px;
        //     border: 1px solid red;
        // }

        // typography
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;

        // visual
        border-radius: 20px;

        &:focus {
            // display: none;
            outline: none;
            border-color: $mainColor;
        }
    }
}
