.search {
    &__form {
        // box model
        padding-top: 10px;
        @media (min-width: $tablet) {
            padding-top: 0;
            width: 290px;
            float: right;
            margin-top: 10px;
        }
        @media (min-width: $desktop) {
            width: 400px;
        }
    }

    &__input {
        // box model
        display: block;
        height: 40px;
        width: 100%;
        border: none;
        border: 1px solid #cccccc;
        padding: 0 20px;

        // typography
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;

        // visual
        border-radius: 20px;

        &:focus {
            // display: none;
            outline: none;
            border-color: $mainColor;
        }
    }
}
