.section {
    // positioning
    position: relative;

    // typography
    text-align: center;

    // box model
    padding-top: 20px;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
        margin-bottom: 100px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        top: 45px;

        // box model
        display: block;
        height: 1px;
        width: 100%;

        // visual
        background-color: $greyBack;
    }

    &__info {
        // positioning
        position: relative;

        // box model
        margin: 0 auto;
        padding-bottom: 20px;
        width: 280px;
        @media (min-width: $tablet) {
            width: 360px;
        }

        // visual
        background-color: $whiteBack;
        // background-color: red;

        &--repair {
            @media (min-width: $tablet) {
                width: 500px;
            }
        }
    }

    &__caption {
        // box model
        display: block;
        padding: 0;
        margin: 0;
        // border: 1px solid red;

        // typography
        color: $mainColor;
        font-size: 20px;
        // font-size: 24px;
        font-weight: 400;
        text-align: center;
        @media (min-width: $tablet) {
            font-size: 24px;
        }
    }

    &__description {
        // box model
        padding: 0;
        margin: 0;

        // typography
        color: $grey54;
        font-size: 14px;
        // font-size: 16px;
        font-weight: 400;
        text-align: center;
        @media (min-width: $tablet) {
            font-size: 16px;
        }
    }

    &__image {
        // box model
        max-width: 100%;
    }

    &__container {
        // positioning
        position: relative;

        // box model
        padding: 0;
        @media (min-width: $tablet) {
            padding: 20px 40px;
        }

        // typography
        text-align: center;

        // visual
        background-color: $whiteBack;
        @media (min-width: $tablet) {
            background-color: $greyBack;
        }

        &--news {
            @media (min-width: $desktop) {
                display: flex;
                justify-content: space-between;
            }
        }

        &--catalog {
            // box model
            @media (min-width: $tablet) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            // visual
            background-color: $greyBack;

            & .item {
                @media (min-width: $tablet) {
                    margin: 20px 0;
                }
            }
        }

        &--review-items {
            @media (min-width: $tablet) {
                margin-bottom: 20px;
            }
        }
    }

    &__navigator {
        // positioning
        position: relative;

        // box model
        display: none;
        margin: 0 auto;
        width: 300px;
        @media (min-width: $tablet) {
            display: block;
            width: 740px;
        }
        @media (min-width: $desktop) {
            width: 1050px;
        }
    }

    &--catalog {
        // visual
        background-color: $greyBack;

        & .section__info {
            background-color: transparent;
        }
    }

    &__content {
        // typography
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
    }

    &__text {
        // typography
        font-size: 15px;
        line-height: 1.5;
        text-align: left;

        & a {
            color: $mainColor;

            &:hover {
                // typography
                color: #ffffff;

                // visual
                background-color: $mainColor;
            }
        }
    }

    &--about {
        //
    }

    &--contacts {
        //
    }
}
