.single-item {
    /////////////////////////////////
    //.single-item__image-container
    /////////////////////////////////
    &__image-container {
        // positioning
        position: relative;
        // box model
        // border: 1px solid red;
        margin-bottom: 40px;
        margin-top: 10px;
        width: 310px;

        @media (min-width: $tablet) {
            display: inline-block;
            vertical-align: top;
            width: 320px;
        }

        @media (min-width: $desktop) {
            width: 400px;
        }
    }

    &__back {
        display: none;
        @media (min-width: $desktop) {
            // box model
            display: block;

            // positioning
            position: absolute;
            top: 200px;

            // typography

            // visual
            @include justButton;
            padding: 0 10px;
        }
    }

    &__thumbs-container {
        // box model
        // border: 1px solid red;
        border-top: 1px solid #eee;
        padding-top: 20px;
        width: 310px;
        @media (min-width: $tablet) {
            width: 320px;
        }
        @media (min-width: $desktop) {
            width: 400px;
        }

        // typography
        font-size: 0;
    }

    &__thumb {
        // box model
        // border: 1px solid red;
        display: inline-block;
        width: 100px;
        @media (min-width: $desktop) {
            width: 130px;
        }

        & img {
            width: 100%;
        }
    }

    ///////////////////////
    //.single-item__image
    ///////////////////////
    &__image {
        // box model
        width: 100%;
        margin-bottom: 20px;
    }

    &__header {
        // box model
        padding-bottom: 20px;

        // visual
        background-color: #ffffff;
        border-bottom: 1px solid #eee;
    }

    &__caption {
        // box model
        margin-bottom: 10px;
        // typography
        color: $mainColor;
        font-size: 20px;
        font-weight: 400;
        @media (min-width: $tablet) {
            font-size: 24px;
        }
    }

    &__description {
        // typography
        color: $grey54;
        font-size: 14px;
        font-weight: 400;
        @media (min-width: $tablet) {
            font-size: 16px;
        }
    }

    ///////////////////////
    //.single-item__price
    ///////////////////////
    &__price {
        // typography
        // color: $mainColor;
        font-size: 16px;
        line-height: 1;
        text-align: left;
        @media (min-width: $tablet) {
            font-size: 20px;
        }
        @media (min-width: $desktop) {
            font-size: 22px;
        }
    }

    //////////////////////////
    //.single-item__ex-price
    //////////////////////////
    &__ex-price {
        // typography
        color: #999;
        text-decoration: line-through;
    }

    &__availability {
        // typography
        font-size: 18px;
        // font-weight: 700;

        &--avail {
            color: $mainColor;
        }

        &--not-avail {
            color: #c34a4a;
        }
    }

    &__palette {
        // box model
        display: block;
        padding-top: 20px;

        // typography
        font-size: 0;
    }

    &__color-text {
        // box model
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;

        // typography
        font-size: 18px;
        font-weight: 700;
    }

    &__color {
        // box model
        vertical-align: middle;
        margin-right: 5px;
        height: 24px;
        width: 24px;
        display: inline-block;
        border-radius: 50%;
    }

    ////////////////////////////
    //.single-item__parameters
    ////////////////////////////
    &__parameters {
        // box model
        @media (min-width: $tablet) {
            display: inline-block;
            padding-left: 20px;
            vertical-align: top;
            width: 420px;
        }

        @media (min-width: $desktop) {
            padding-left: 50px;
            width: 650px;
        }

        // typography
        color: #3b3b3b;
        font-size: 14px;

        & ul {
            // box model
            padding: 0;

            // visual
            list-style: none;
        }

        & li {
            // typography
            // color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.6;
            text-align: left;

            &:before {
                content: "— ";
            }
        }
    }

    //////////////////////
    //.single-item__text
    //////////////////////
    &__text {
        // typography
        font-size: 14px;
        line-height: 1.6;
        text-align: left;
    }

}

table {
    // box model
    margin-top: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;

    // typography
    text-align: left;
}

tr {
    // visual
    &:nth-of-type(2n) {
        background-color: #f1f1f1;
    }
}

td {
    // box model
    padding: 5px 10px;
    border: 1px solid #f1f1f1;

    // typography
    font-size: 14px;
    line-height: 1.4;
}