.single-item {
    /////////////////////////////////
    //.single-item__image-container
    /////////////////////////////////
    &__image-container {
        // positioning
        position: relative;

        // box model
        height: 310px;
        margin-top: 10px;
        width: 310px;

        @media (min-width: $tablet) {
            display: inline-block;
            height: 320px;
            vertical-align: top;
            width: 320px;
        }

        @media (min-width: $desktop) {
            height: 400px;
            width: 400px;
        }
    }

    ///////////////////////
    //.single-item__image
    ///////////////////////
    &__image {
        // box model
        width: 100%;

        // visual
        @include itemShadow;
    }

    ///////////////////////
    //.single-item__price
    ///////////////////////
    &__price {
        // positioning
        position: absolute;
        bottom: 15px;
        left: 15px;

        // box model
        padding: 5px;

        // typography
        color: $mainColor;
        font-size: 24px;
        line-height: 1;
        text-align: left;
        @media (min-width: $tablet) {
            font-size: 26px;
        }
        @media (min-width: $desktop) {
            font-size: 28px;
        }

        // visual
        background-color: #ffffff;
    }

    //////////////////////////
    //.single-item__ex-price
    //////////////////////////
    &__ex-price {
        // positioning
        position: absolute;
        bottom: 50px;
        left: 15px;

        // box model
        padding: 5px;

        // typography
        color: #999;
        text-decoration: line-through;
    }

    ////////////////////////////
    //.single-item__parameters
    ////////////////////////////
    &__parameters {
        // box model
        @media (min-width: $tablet) {
            display: inline-block;
            padding-left: 20px;
            vertical-align: top;
            width: 420px;
        }

        @media (min-width: $desktop) {
            padding-left: 50px;
            width: 650px;
        }

        // typography
        font-size: 14px;

        & ul {
            // box model
            padding: 0;

            // visual
            list-style: none;
        }

        & li {
            // typography
            // color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.6;
            text-align: left;

            &:before {
                content: "— ";
            }
        }
    }

    //////////////////////
    //.single-item__text
    //////////////////////
    &__text {
        // typography
        font-size: 14px;
        line-height: 1.6;
        text-align: left;
    }

}

table {
    // box model
    margin-top: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;

    // typography
    text-align: left;
}

tr {
    // visual
    &:nth-of-type(2n) {
        background-color: #f1f1f1;
    }
}

td {
    // box model
    padding: 5px 10px;
    border: 1px solid #f1f1f1;

    // typography
    font-size: 14px;
    line-height: 1.4;
}