.slider-button {
    // positioning
    position: absolute;
    top: 260px;
    @media (min-width: $tablet) {
        top: 190px;
    }

    // box model
    display: inline-block;

    // typography
    color: $mainColor;
    font-family: "icomoon";
    font-size: 24px;

    // visual
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;

    &:hover {
        // typography
        color: $whiteBack;

        // visual
        background-color: $mainColor;
    }

    &--prev {
        // positioning
        left: 5px;
    }

    &--next {
        // positioning
        right: 5px;
    }
}
