.slide {
    // box model
    height: 340px;
    margin-bottom: 20px;
    @media (min-width: $tablet) {
        padding: 0;
    }

    @media (min-width: $desktop) {
        height: 340px;
    }

    &__image {
        // box model
        width: 100%;

        &--tablet {
            display: none;

            @media (min-width: $tablet) {
                display: inline-block;
            }
        }

        &--mobile {
            @media (min-width: $tablet) {
                display: none;
            }
        }
    }
}
