.sort {
    //
    &__list {
        // box model
        padding: 0;
        margin: 0;
        @media (min-width: $tablet) {
            display: inline-block;
        }

        // visual
        list-style: none;
    }

    &__item {
        // box model
        padding: 5px 0;
        @media (min-width: $tablet) {
            padding: 0 2.5px;
            display: inline-block;
        }
    }

    &__link {
        // box model
        display: block;
        padding: 0 20px;
        vertical-align: middle;
        @media (min-width: $desktop) {
            padding-left: 10px;
            padding-right: 5px;
        }

        // typography
        color: $grey87;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        text-decoration: none;
        @media (min-width: $desktop) {
            font-size: 14px;
        }

        // visual
        border-radius: 2px;

        &--selected {
            // typography
            color: $mainColor;

            // visual
            background-color: #dddddd;
        }

        &:hover {
            // typography
            color: #ffffff;

            // visual
            background-color: $mainColor;
        }

        &--down::after {
            content: $icon-arrow_drop_down;

            // box model
            vertical-align: middle;

            // typography
            font-family: "icomoon";
            font-size: 24px;
        }

        &--up::after {
            content: $icon-arrow_drop_up;

            // box model
            vertical-align: middle;

            // typography
            font-family: "icomoon";
            font-size: 24px;
        }
    }
}
