// fonts
$mainFont: "Roboto", sans-serif;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1060px;

// color
$mainColor: #8bc34a;
$grey54: #9a9a9a;
$grey87: #3b3b3b;
$greyBack: #eeeeee;
$whiteBack: #ffffff;
$emColor: #ff5722;

// icons
$icon-instagram: "\e902";
$icon-vk: "\e900";
$icon-place: "\e901";
$icon-call: "\e0b0";
$icon-arrow_back: "\e5c4";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-arrow_downward: "\e5db";
$icon-star: "\e838";
$icon-star_half: "\e839";
$icon-star_outline: "\e83a";
$icon-schedule: "\e8b5";
$icon-warning: "\e002";
$icon-loop: "\e028";
$icon-repeat: "\e040";
$icon-programs: "\e0de";
$icon-attach_money: "\e227";
$icon-details: "\e322";
$icon-dehaze: "\e3c7";
$icon-tune: "\e429";
$icon-sync: "\e627";
$icon-check_box: "\e834";
$icon-check_box_outline_blank: "\e835";
$icon-repair: "\e869";
$icon-urgent: "\e889";
$icon-settings: "\e8b8";
$icon-warranty: "\e8e8";
