.write-us {
    // box model
    height: 200px;
    margin: 20px 0;
    padding: 0 10px;

    // typography
    text-align: center;

    // visual
    background-image: url("../img/write-us.jpg");
    background-position: center center;
    @media (min-width: $desktop) {
        background-size: 100%;
        background-position: center bottom;
    }

    &__caption {
        // box model
        padding-top: 20px;
        padding-bottom: 10px;

        // typography
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    &__email {
        // box model
        display: block;
        margin: 0 auto;
        height: 40px;
        width: 300px;
        max-width: 380px;
        border: none;
        border: 1px solid #cccccc;
        padding: 0 20px;
        margin-bottom: 20px;
        @media (min-width: $tablet) {
            width: 380px;
        }

        // typography
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;

        // visual
        border-radius: 20px;

        &:focus {
            border: none;
            // visual
            border-radius: 20px;
        }
    }

    &__submit {
        //
        @include justButton;
    }
}
