@import "normalize";
@import "mixins";
@import "vars";
@import "fonts";


body {
    // box model
    padding: 0;
    margin: 0;
    min-width: 320px;
    // max-width: 320px;
    margin: 0 auto;
    // box-shadow: 0 1px 7px .14px rgba(0,0,0,.32);
    // @media (min-width: $tablet) {
    //     max-width: 768px;
    // }
    // @media (min-width: $desktop) {
    //     max-width: 1060px;
    // }


    // typography
    font-family: $mainFont;
    font-weight: 300;
    // font-size: 0;
}

html {
    // box model
    width: 100%;
    // border: 1px solid red;
}

.container {
    // positioning
    position: relative;

    // box model
    padding: 0 5px;
    margin: 0 auto;
    max-width: 320px;
    @media (min-width: $tablet) {
        max-width: 768px;
        // border: 1px solid red;
    }
    @media (min-width: $desktop) {
        padding: 0;
        max-width: 1060px;
    }
}

@import "main-header";
@import "logo";
@import "menu-button";
@import "contact-info";
@import "main-nav";
@import "search";
@import "hero";
@import "hero-slider";
@import "small-block";
@import "section";
@import "item";
@import "write-us";
@import "news-item";
@import "review";
@import "rating";
@import "button";
@import "loans";

@import "main-footer";

@import "slider-button";

* {
    // box model
    box-sizing: border-box;
}
