@import "normalize";
@import "mixins";
@import "vars";
@import "fonts";


body {
    // positioning
    // position: relative;

    // box model
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 320px;
    margin: 0 auto;
    // sticky footer fix
    @media (min-width: $desktop) {
        padding-bottom: 120px;
    }


    // typography
    font-family: $mainFont;
    font-weight: 300;
    // font-size: 0;
}

html {
    // positioning
    position: relative;

    // box model
    width: 100%;
    min-height: 100%;
    // border: 1px solid red;
}

a {
    // visual
    text-decoration: none;
}

.container {
    // positioning
    position: relative;

    // box model
    padding: 0 5px;
    margin: 0 auto;
    max-width: 320px;
    @media (min-width: $tablet) {
        max-width: 768px;
        // border: 1px solid red;
    }
    @media (min-width: $desktop) {
        padding: 0;
        max-width: 1060px;
    }

    &::after {
        content: "";
        display: table;
        width: 100%;
    }

    &--news {
        // box model
        display: none;
        @media (min-width: $tablet) {
            display: block;
        }
    }

    &--reviews {
        // box model
        display: none;
        @media (min-width: $tablet) {
            display: block;
        }
    }
}

@import "main-header";
@import "logo";
@import "menu-button";
@import "contact-info";
@import "main-nav";
@import "search";
@import "hero";
@import "hero-slider";
@import "slide";
@import "small-block";
@import "section";
@import "item";
@import "write-us";
@import "news-item";
@import "review";
@import "rating";
@import "button";
@import "loans";

@import "main-footer";

@import "slider-button";

@import "catalog-filter";
@import "category";
@import "sort";
@import "price-filter";
@import "paginator";

@import "map";
@import "photo";
@import "form";
@import "repair-hero";
@import "change-hero";

@import "single-item";
@import "subscribe";

* {
    // box model
    box-sizing: border-box;
}

.m-only {
    @media (min-width: $tablet) {
        display: none;
    }
}
